/* styles.css */
.dropdown-content {
  overflow: hidden;
  transition:
    max-height 0.5s ease-out,
    padding 0.5s ease-out;
  max-height: 0;
  padding: 0 1rem;
}

.dropdown-content.open {
  max-height: 1000px; /* Adjust this value based on the content size */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
