.event-image {
  margin: 0 auto;
  height: 100%;
}

.event-image-container {
  height: 500px;
  margin: 0 auto;
  border-radius: 15px;
}
.event-info-container {
  width: 90%;
  margin: 0 auto;
}

#info-section {
  margin-top: 4rem;
}
